* {
  margin: 0;
  padding: 0;
}

a {
  color: steelblue;
  outline: 0;
}
a:hover {
  color: #3F75AA;
}
a:active {
  color: #5F95BA;
}

body {
  background-color: #DADADA;
}

.topBanner {
  display: flex;
  width: 100%;
  min-width: 50rem;
  height: 3.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  justify-content: center;
  background-color: steelblue;
  color: snow;
}

.leftTitle {
  display: inline-block;
  width: 14rem;
  height: inherit;
  line-height: inherit;
  vertical-align: middle;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  text-align: left;
  color: inherit;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navBar {
  width: 36rem;
  height: inherit;
  line-height: inherit;
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.navBar__link {
  display: inline-block;
  width: 25%;
  height: inherit;
  line-height: inherit;
  vertical-align: middle;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navBar__link:hover {
  color: snow;
  background-color: #3F75AA;
}
.navBar__link:active {
  color: snow;
  background-color: #5F95BA;
}

.pageItem {
  display: block;
  width: 48rem;
  min-height: 3rem;
  margin: 0.5rem auto;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  background-color: #EDEDED;
  color: #252525;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  line-height: 1.2rem;
}

.pageItem--link {
  cursor: pointer;
  transition: 0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
.pageItem--link:hover {
  box-shadow: 0 0 0.2rem 0.2rem steelblue;
  color: #252525;
}

.pageItem--wide {
  width: 72rem;
}

.pageItem__header {
  display: block;
  line-height: 1.7rem;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  letter-spacing: 0.005rem;
  text-decoration: none;
  color: inherit;
}

.pageItem__subHeader {
  display: block;
  line-height: 1.4rem;
  padding-top: 4rem;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.005rem;
  text-decoration: none;
  color: inherit;
}

.pageItem__paragraph {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  line-height: inherit;
  text-align: justify;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
}

.pageItem__img {
  display: block;
  width: 65%;
  height: auto;
  margin: 2rem auto;
}

.pageItem__img--render {
  width: 100%;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
