.topBanner--obWidth {
  min-width: 1280px;
}

.pageItem--obWidth {
  width: calc(1280px - 2rem);
}

.obApp {
  color: snow;
  font-family: "Raleway", sans-serif;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1280px;
  height: 720px;
  margin-top: 0.5rem;
  padding: 0;
  background-color: #0d0d0d;
  z-index: 2;
}

.obApp__canvas {
  position: static;
  display: block;
  margin: 0 auto;
  padding: 0;
  z-index: 3;
  color: inherit;
  font-family: inherit;
}

.obApp__topBar {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 1260px;
  height: 40px;
  padding: 0 10px;
  background-color: #00000088;
  line-height: 40px;
  color: inherit;
  font-family: inherit;
  text-align: center;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 4;
}

.obApp__bottomBar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 1260px;
  height: 80px;
  padding: 0 10px;
  background-color: #00000088;
  line-height: 80px;
  color: inherit;
  font-family: inherit;
  text-align: center;
  bottom: 0;
  z-index: 4;
}

.obApp__mainMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 1260px;
  height: 500px;
  padding: 0 10px;
  line-height: 80px;
  color: inherit;
  font-family: inherit;
  text-align: center;
  top: 50px;
  z-index: 5;
}

.obApp__menuLogo {
  display: block;
  height: 200px;
  width: 600px;
  padding: 5px;
  margin: 13px auto;
  margin-bottom: 60px;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.obApp__btn {
  color: inherit;
  font-family: inherit;
  display: block;
  height: 40px;
  padding: 5px;
  border-width: 2px;
  line-height: 40px;
  border-radius: 5px;
  border-color: snow;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.1s;
}
.obApp__btn:hover {
  background-color: snow;
  color: #252525;
}

.obApp__btn--menu {
  width: 400px;
  margin: 13px auto;
}

.obApp__btn--uiBottom {
  width: 130px;
  margin: 13px 5px;
}

.obApp__loadingText {
  position: absolute;
  display: block;
  height: 150px;
  width: 600px;
  padding: 5px;
  margin: 13px auto;
  margin-bottom: 60px;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50px;
  left: 335px;
}

.obApp__loadingBar {
  margin: 0 auto;
  padding: 0;
  width: 796px;
  position: absolute;
  display: block;
  height: 40px;
  background-color: transparent;
  border-width: 2px;
  border-color: snow;
  border-style: solid;
  border-radius: 20px;
  top: 320px;
  left: 240px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.obApp__loadingBar--progress {
  position: static;
  background-color: snow;
  width: 0%;
  border-radius: 16px;
  border-width: 0;
  height: 100%;
  float: left;
}

.obApp__locationTip {
  color: inherit;
  font-family: inherit;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 8;
  background-color: #151515BB;
  width: 175px;
  height: 60px;
  border-radius: 5px;
  border-style: solid;
  border-color: snow;
  border-width: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.obApp__locationTip--invisible {
  display: none;
}

.obApp__locationTipHeader {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  font-weight: normal;
}

.obApp__locationTipSubHeader {
  color: inherit;
  font-family: inherit;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}

.obApp__uiPane {
  position: absolute;
  display: block;
  color: inherit;
  font-family: inherit;
  z-index: 8;
  background-color: #0A0A0AAA;
  border-radius: 5px;
  border-style: solid;
  border-color: snow;
  border-width: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.obApp__uiPane--centerSmall {
  width: 800px;
  height: 500px;
  left: calc(50% - 0.5*800px);
  top: calc(50% - 0.5*500px - 25px);
  background-color: #000000F5;
}

.obApp__uiPane--centerLarge {
  width: 850px;
  height: 550px;
  left: calc(50% - 0.5*850px);
  top: calc(50% - 0.5*550px - 25px);
}

.obApp__paneBtnBar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: calc(100% - 20px);
  height: 80px;
  padding: 0 10px;
  padding-bottom: 20px;
  line-height: 80px;
  color: inherit;
  font-family: inherit;
  text-align: center;
  bottom: 0;
  z-index: 4;
}

.obApp__btn--uiPane {
  width: 130px;
  margin: 13px 5px;
}

.obApp__paneInfoHeader {
  color: inherit;
  font-family: inherit;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
}

.obApp__paneInfoSubHeader {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.obApp__paneInfoDoubleColumn {
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  vertical-align: middle;
  line-height: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.obApp__paneInfoDoubleColumn--left {
  float: left;
  text-align: left;
  width: 45%;
  padding-left: 5%;
}

.obApp__paneInfoDoubleColumn--right {
  float: right;
  text-align: right;
  width: 45%;
  padding-right: 5%;
}

.obApp__sprite--invisible {
  display: none;
}

.obApp__textUnderline {
  text-decoration: underline;
}

/*# sourceMappingURL=ob.css.map */
