.iptContainer {
    display: block;
    width: calc(var(--pageAppWidth) * 1rem);
    height: auto;
}

.iptInfo {
    font-family: 'Saira Condensed', sans-serif;
    display: inline-block;
    width: calc(var(--pageAppWidth) * 0.30rem - 0.25rem);
    background-color: white;
    height: 30rem;
    vertical-align: top;
    border-radius: 0.3rem;
    padding-left: 0.25rem;
    padding-top: 0.5rem;
    outline-style: solid;
    outline-color: #00000099;
    outline-width: 0.08rem;
    outline-offset: 0.1rem;
}

.iptLeftPane {
    --iptTableWidth: calc(var(--pageAppWidth) * 0.70rem - 1rem);
    margin: 0 0.5rem;
    display: inline-block;
    width: var(--iptTableWidth);
    height: auto;
}

.iptTable {
    display: block;
    width: 100%;
    height: auto;
}

.iptLegend {
    display: block;
    width: 100%;
    height: 6rem;
    color: black;
}

.iptLegendHeader {
    font-family: 'Saira Condensed', sans-serif;
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
}

.iptLegendRow {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.iptLegendItem {
    display: inline-block;
    width: auto;
    height: 2.5rem;
    margin: 0 0.15rem;
    padding: 0 0.5rem;
    vertical-align: middle;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;

    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.8rem;

    border-style: solid;
    border-width: 0.125rem;
    border-color: transparent;
    user-select: none;
    background-color: white;
    border-radius: 0.6rem;
    transition: 0.08s;
    border-color: black;
}

.iptLegendItem:hover {
    background-color: black;
}

.iptRow {
    width: 100%;
    height: auto;
}

.iptSq {
    --elemDimensions: calc( var(--iptTableWidth) / 18 - 0.55rem);
    display: inline-block;
    width: var(--elemDimensions);
    height: var(--elemDimensions);
    margin: 0.15rem;
    vertical-align: middle;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: var(--elemDimensions);
    border-style: solid;
    border-width: 0.125rem;
    transition: 0.08s;
    border-color: transparent;
    user-select: none;
}

.iptRowSub {
    background-color: white;
    border-radius: 1rem;
    border-color: black;
    color: white;
    background-color: black;
}

.iptElem {
    background-color: white;
    border-radius: 0.45rem;
    cursor: pointer;
    transition: 0.15s;
    border-color: black;
}

.iptElem:hover {
    background-color: black;
}

.solid {
    color: black;
}

.solid:hover {
    color: white;
}

.liquid {
    color: blue;
}

.liquid:hover {
    color: lightblue;
}

.gas {
    color: red;
}

.gas:hover {
    color: lightcoral;
}

.radio {
    border-color: greenyellow;
}

.radio:hover {
    background-color: greenyellow;
}

.iptPlaceholder {
    display: block;
    font-weight: normal;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 6rem;
}

.iptElemName {
    display: block;
    font-weight: normal;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.2rem;
}

.iptSubHeadLeft {
    display: inline-block;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 0.75rem;
    width: 55%;
}

.iptSubHeadRight {
    display: inline-block;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 0.75rem;
    width: 43%;
    padding-left: 2%;
}

.iptParagraph {
    margin-top: 0.25rem;
    display: block;
    font-size: 0.8rem;
    width: 100%;
}

.bolded {
    font-weight: bold;
}