.iptContainer {
    --iptWidth: calc(var(--baseWidth) - 1 - var(--pageEntryPadding) * 2);
    display: block;
    width: calc(var(--iptWidth) * 1rem);
    height: auto;
}

.iptInfo {
    font-family: 'Saira Condensed', sans-serif;
    display: inline-block;
    width: calc(var(--iptWidth) * 0.30rem - 0.25rem);
    height: auto;
    vertical-align: top;
    background-color: aqua;
    border-radius: 0.3rem;
    padding-left: 0.25rem;
}

.iptTable {
    --iptTableWidth: calc(var(--iptWidth) * 0.70rem);
    display: inline-block;
    width: var(--iptTableWidth);
    height: auto;
    background-color: beige;
    vertical-align: top;
}

.iptRow {
    width: 100%;
    height: auto;
}

.iptSq {
    --elemDimensions: calc( var(--iptTableWidth) / 18 - 0.55rem);
    display: inline-block;
    width: var(--elemDimensions);
    height: var(--elemDimensions);
    margin: 0.15rem;
    vertical-align: middle;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: var(--elemDimensions);
    border-style: solid;
    border-width: 0.125rem;
    border-color: transparent;
    user-select: none;
}

.iptRowSub {
    background-color: white;
    border-radius: 1rem;
    border-color: black;
    color: white;
    background-color: black;
}

.iptElem {
    background-color: white;
    border-radius: 0.45rem;
    cursor: pointer;
    transition: 0.15s;
    border-color: black;
}

.iptElem:hover {
    background-color: black;
}

.solid {
    color: black;
}

.solid:hover {
    color: white;
}

.liquid {
    color: blue;
}

.liquid:hover {
    color: lightblue;
}

.gas {
    color: red;
}

.gas:hover {
    color: lightcoral;
}

.radio {
    border-color: greenyellow;
}

.radio:hover {
    background-color: greenyellow;
}

.iptElemName {
    display: block;
    font-weight: normal;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.iptSubHeadLeft {
    display: inline-block;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 0.75rem;
    width: 55%;
}

.iptSubHeadRight {
    display: inline-block;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 0.75rem;
    width: 43%;
    padding-left: 2%;
}

.iptParagraph {
    margin-top: 0.25rem;
    display: block;
    font-size: 0.8rem;
    width: 100%;
}

.bolded {
    font-weight: bold;
}