@import url("_imports.css");

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    background-color: #d4d4d4;
}

/* GLOBAL VARS */
:root {
    /* for page dimension calculations*/
    --navLinkWidth: 12;
    --logoWidth: 11;
    --logoPadding: 0.5;
    --nNavLinks: 4;
    --highlightColor: #66a2c4;
    --navBarHeight: 3rem;
    --logoFontSize: 1.4;
    --baseWidth: calc( var(--logoWidth) + var(--logoPadding) + var(--navLinkWidth) * var(--nNavLinks) );
    
    /* colours, with American spelling because I've just accepted it at this point */
    --accentColor: #4682b4;
    --whiteColor: #f2f2f2;
    --blackColor: #353535;
}